    <!-- Download Section -->
    <section id="research" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Research</h2>
<p> Nonlinear dynamics • Pattern formation • Complex systems </br>
Social and technological networks • Data mining and analysis </br>
Scientific computing</p>
<a href="https://scholar.google.com/citations?user=ug4QQn8AAAAJ&hl" class="btn btn-default btn-lg">Papers</a>
                </div>
            </div>
        </div>
    </section>
